// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.admin-dashboard {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.admin-dashboard section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  width: 40%;
  background: #c8d6e5;
  margin: 0 2em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.admin-dashboard em {
  font-size: 3em;
  font-weight: 600;
}

.admin-dashboard a {
  align-self: flex-start;
}

.session {
  float: right;
}